<%= form_for(usuario) do |f| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :primer_nombre %>
    <%= f.text_field :primer_nombre %>
  </div>

  <div class="field">
    <%= f.label :primer_apellido %>
    <%= f.text_field :primer_apellido %>
  </div>

  <div class="field">
    <%= f.label :cuenta_bancaria %>
    <%= f.text_field :cuenta_bancaria %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit({:class => "btn btn-primary"}) %>
  </div>
<% end %>
