<%= form_for(dispersion) do |f| %>
  <% if dispersion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dispersion.errors.count, "error") %> prohibited this dispersion from being saved:</h2>

      <ul>
      <% dispersion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %>
    <%= f.number_field :usuario_id %>
  </div>

  <div class="field">
    <%= f.label :prestamo_id %>
    <%= f.number_field :prestamo_id %>
  </div>

  <div class="field">
    <%= f.label :fechaalta %>
    <%= f.date_select :fechaalta %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.text_field :cantidad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
